:root {
    --accent-islamicgreen: hsl(120, 98%, 34%);
    --header-darkcharcoal: hsl(220, 3%, 19%);
    --meta-gray: hsl(227, 4%, 52%);
    --sides-antiflashwhite: hsl(120, 4%, 95%);
    --background-white: hsl(0, 0%, 100%);
    --life-tiffanyblue: hsl(174, 100%, 39%);
    --travel-ultramarineblue: hsl(233, 87%, 61%);
    --auto-naplesyellow: hsl(41, 100%, 68%);
    --sport-scarlet: hsl(352, 88%, 52%);
    --education-tawny: hsl(23, 100%, 42%);
    --font-white: hsl(0, 0%, 100%);
    --font-black: hsl(179, 100%, 0%);
    --font-brightgray: hsl(225deg 16.33% 19.22% / 70%);
    --border-brightgray: hsl(240deg 5% 92.16%);
    --footer-border: hsl(0, 0%, 33%);
    --footer-darkcharcoal: hsl(220, 3%, 19%);
}
