@use "../util" as *;

a {
    margin-top: 0;
}

a,
a:visited,
a:active {
    text-decoration: none;
    @include breakpoint(large) {
        font-size: rem(18);
    }
    padding-top: rem(22);
    padding-bottom: rem(15);
}
